doctype html
html
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		title CodeCraft - Visual Programming Platform
		link(rel='shortcut icon', href='images/favicon.ico', type='image/gif')
		link(rel='stylesheet', type='text/css', href='codecraft/css/main.css')
		script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
			
		script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/webfont/1.5.10/webfont.js')
		script(type='text/javascript').
			WebFont.load({
			custom: {
				families: ['fontawesome']
			}
			});

		script(src="javascripts/lib/socket.io-1.3.4.js")
		script(src="javascripts/lib/underscore-min.js")
		script(src="javascripts/lib/prototype.js")
		script(type='text/javascript', src='javascripts/global_functions.js')
		script(src="javascripts/config.js")
		script(src="javascripts/new/bundle.js")
		script(type='text/javascript', src='javascripts/blocks.js')
		script(type='text/javascript', src='javascripts/threads.js')
		script(type='text/javascript', src='javascripts/objects.js')
		script(type='text/javascript', src='javascripts/sharebox.js')
		script(type='text/javascript', src='javascripts/gui.js')
		script(type='text/javascript', src='javascripts/paint.js')
		script(type='text/javascript', src='javascripts/library.js')
		script(type='text/javascript', src='javascripts/lists.js')
		script(type='text/javascript', src='javascripts/byob.js')
		script(type='text/javascript', src='javascripts/xml.js')
		script(type='text/javascript', src='javascripts/store.js')
		script(type='text/javascript', src='javascripts/locale.js')
		//- script(type='text/javascript', src='javascripts/cloud.js')
		script(type='text/javascript', src='javascripts/sha512.js')
		script(type='text/javascript', src='javascripts/store.js')

		script(type='text/javascript').

			var SnapCloud = new Cloud(
				'http://localhost:3000/api/'
			);

			if(openID){
			var tempIdentifier = encodeURI('https://openid.nus.edu.sg/' + prompt("what's your id?"));
			window.open('/api/auth/openid?openid_identifier='+tempIdentifier, 'openid_popup', 'width=790,height=580');
				var tempIdentifier = encodeURI('https://openid.nus.edu.sg/' + prompt("what's your id?"));
				window.open('/api/auth/openid?openid_identifier='+tempIdentifier.toLowerCase(), 'openid_popup', 'width=790,height=580');
				var world;
			} else {
				var tempIdentifier = prompt("what's your id?");
				var world;
				$( document ).ready(initEverything)
			}

			//- if(isDev){
			//- 	initEverything();
			//- }

			function handleOpenIDResponse(openid_args) {
				tempIdentifier = openid_args.split('&')[15].split('=')[1].split('+').join(' ');
				initEverything();
			}

			function initEverything(){


				world = new WorldMorph(document.getElementById('world'));
				world.worldCanvas.focus();
				new IDE_Morph().openIn(world);
				setInterval(loop, 1);

				function loop() {
				world.doOneCycle();
				}
			}

			


	body(style='margin: 0;')
		block content
		
